*.d.ts
*.js
node_modules
cdktf.out
cdktf.log
*terraform.*.tfstate*
.gen
.terraform
tsconfig.tsbuildinfo
!jest.config.js
!setup.js
credentials.*
.env
cloud.conf
cluster.config
cluster/base/headlamp/values.yaml
clouds.yaml