clouds:
  openstack:
    auth:
      auth_url: https://js2.jetstream-cloud.org:5000/v3/
      application_credential_id: "<replace-me>"
      application_credential_secret: "<replace-me>"
    project_id: "<replace-me>"
    project_domain_name: "cis240470.projects.jetstream-cloud.org"
    region_name: "IU"
    interface: "public"
    identity_api_version: 3
    auth_type: "v3applicationcredential"
